@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poiret+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Table of Contents 

1.Typography
2.Nav
3.Home
4.About
5.Skills
6.Portfolio
7.Contact
8.Footer

*/

/* 1.Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
body {
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}
h4 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

/* 2.Nav */

.nav-bar {
  display: flex;
  font-family: "Poiret One", cursive;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-bar__items {
  align-items: center;
  display: flex;
  list-style: none;
  margin-right: 8%;
  transition: 0.15s all ease-in;
}

.nav-bar__items li {
  margin-left: 15px;
  color: white;
}

.nav__logo_container {
  margin-left: 7%;
  display: flex;
  align-items: center;
}

.nav__logo {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  color: rgb(200, 179, 170);
}
.nav__logo_container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.nav-bar__items a {
  color: #d9e6d3;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: all 0.35s ease-in;
}

.nav-bar__items a.active::after {
  color: #382335;
  opacity: 1;
  transform: translate3d(-50%, 10px, 0) scale(1);
}
.nav-bar__items a::after {
  background-color: rgb(186, 163, 152);
  bottom: 13px;
  content: "";
  height: 3px;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate3d(-50%, 0, 0) scale(0.8);
  transition: all 0.1s ease-in-out;
  width: 80%;
}
.nav-bar__items a:hover::after {
  opacity: 1;
  transform: translate3d(-50%, 10px, 0) scale(1);
}

/*Icon Menu*/
.nav-bar__menu {
  align-items: center;
  background-color: rgb(201, 190, 188);
  border-radius: 50%;
  bottom: -25px;
  color: #4f4440;
  cursor: pointer;
  display: flex;
  font-size: 3.5rem;
  height: 65px;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 50px;
  width: 65px;
  z-index: 5;
}
.nav-bar__menu__leaverage {
  background-color: #574746;
  border-radius: 10px;
  margin-top: 100px;
  opacity: 0;
  position: absolute;
  right: 60px;
  top: -35px;
  width: 5px;
}

.nav-bar__menu__leaverage a {
  background-color: #f0ffff;
  border-radius: 20px;
  color: #282e2d;
  float: right;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 10px -20px 10px -18px;
  padding: 5px 15px;
  text-decoration: none;
}
.nav-bar__menu__leaverage a:first-child {
  margin-top: 60px;
}
.nav-bar__menu__leaverage a.active {
  background-color: rgb(201, 190, 188);
}
.nav-bar__menu__leaverage a:hover {
  background-color: rgb(201, 190, 188);
  color: #282e2d;
}

@media screen and (max-width: 750px) {
  .nav-bar__items {
    opacity: 0;
    pointer-events: none;
    transform: translateX(20px);
  }
  .nav-bar__menu {
    opacity: 1;
    pointer-events: all;
  }
  .nav-bar__menu__leaverage {
    opacity: 1;
  }
  .nav__logo_container {
    margin-left: 80px;
  }
}
@media screen and (max-width: 520px) {
  .nav__logo_container {
    margin-left: 40px;
  }
}

/* 3.Home */

.section-home {
  align-items: center;
  background-image: url(../imgs/lehigh.jpg);
  background-position: 0, -140px;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100vh;
  justify-content: left;
  overflow: hidden;
  position: relative;
  transition: all 0.15s;
  width: 100%;
}
.section-home__header {
  align-items: center;
  color: white;
  display: grid;
  height: 300px;
  justify-content: center;
  padding: 20px;
  position: relative;
  transform: translate3d(200px, -50px, 0);
  width: 500px;
}
.section-home__header h1 {
  justify-self: center;
  display: inline;
  width: fit-content;
  transition: all 0.35s;
  background: url(../imgs/txbg.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.autotext {
  justify-self: center;
  color: #ddebed;
  margin-top: 30px;
}
.autotext::after {
  content: "|";
}

.section-home__spans {
  justify-self: center;
  white-space: nowrap;
}
.section-home__spans a {
  text-decoration: none;
  margin: 20px;
  padding: 8px;
  transition: all 0.25s;
  position: relative;
  cursor: pointer;
  font-size: 2.2rem;
}

.section-home__spans a::before {
  background-color: white;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.35s ease-in-out;
  width: 100%;
}
.section-home__spans a:nth-child(odd) {
  color: rgba(255, 255, 255, 1);
}
.section-home__spans a:nth-child(even) {
  color: rgba(255, 255, 255, 1);
}

.section-home__header::before {
  background-color: #f0f8ff;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.35s;
  width: 80%;
}
.section-home__header::after {
  background-color: #f0f8ff;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.35s;
  width: 80%;
}

.section-home__header:hover::before {
  transform: translate3d(-50%, -50%, 0) rotate(35deg);
}
.section-home__header:hover::after {
  transform: translate3d(-50%, -50%, 0) rotate(-35deg);
}
.section-home__header:hover h1 {
  transform: scale(0.8);
}
.section-home__header:hover .section-home__spans a::before {
  transform: scaleX(1);
}

.section-home__header:hover .section-home__spans a {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}
.section-home__spans a:hover {
  color: #e6ffe6;
}

@media screen and (max-width: 1250px) {
  .section-home {
    justify-content: left;
    align-items: unset;
  }
  .section-home__header {
    transform: translate3d(0, 100px, 0);
  }
}

@media screen and (max-width: 500px) {
  .section-home {
    background-position: -600px;
    height: 900px;
  }
}

@media screen and (max-width: 420px) {
  .section-home {
    height: 650px;
    background-position: -400px;
  }
  .section-home__header {
    position: absolute;
    width: 100%;
    padding: 0;
  }
  .section-home__header {
    height: 300px;
  }
  .section-home__header h1 {
    font-size: 5rem;
    white-space: nowrap;
  }

  .section-home__header::before,
  .section-home__header::after {
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    top: 50%;
    transition: all 0.35s;
  }
}
/* 4.About */

.section-about {
  overflow: hidden;
  height: 900px;
  background-color: rgb(27, 23, 24);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-about__container {
  width: 1000px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section-about__figure {
  margin: 0;
}
.section-about__figure img {
  border-radius: 50%;
}
.section-about__figcaption {
  position: relative;
}

.section-about__cards {
  border-radius: 2px;
  height: 85%;
  left: 0;
  margin: auto;
  padding: 1rem 2rem 1rem 2.5rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(280px, 0, 0) scale(0.5);
  transition: transform 0.25s;
  width: 325px;
  z-index: 4;
}

.section-about__cards::before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.card--1 {
  background-color: rgb(27, 23, 24);
}
.card--1::before {
  opacity: 0.3;
  filter: grayscale(0.3);
  background-image: url("../imgs/lehigh.png");
}

.card--2 {
  transform: rotate(2deg) translate3d(280px, 0, 0) scale(0.5);
  z-index: 3;
  background-color: rgb(27, 23, 24);
}

.card--2::before {
  opacity: 0.2;
  filter: grayscale(0.3);
  background-image: url("../imgs/reacts.jpg");
  background-size: cover;
}

.card--3 {
  background-color: rgb(51, 53, 48);
  transform: rotate(4deg) translate3d(28 0px, 0, 0) scale(0.5);
  z-index: 2;
}
.card--3::before {
  opacity: 0.1;
  filter: grayscale(0.3);
  background-image: url("../imgs/music.png");
}

.section-about__cards__title {
  font-weight: 600;
  color: white;
  font-size: 2.7rem;
  white-space: nowrap;
  margin: 2rem;
}
.section-about__cards__p {
  font-size: 1.9rem;
  text-indent: 5rem;
  color: white;
}

.section-about__arrow-label {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  transform: translate3d(-50%, 0, 0);
  width: 100px;
}
.section-about__btn.btn--disable {
  pointer-events: none;
  color: grey;
}
.section-about__arrow-label button {
  background-color: rgba(255, 255, 255, 0);
  outline: 0;
  color: white;
  border: 0;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .section-about {
    height: 1400px;
  }
  .section-about__container {
    width: 500px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 150px;
  }
}
@media screen and (max-width: 520px) {
  .section-about {
    height: 1100px;
  }
  .section-about__container {
    justify-content: center;
    align-items: center;
    grid-row-gap: 50px;
  }
  .section-about__figcaption {
    height: 500px;
  }
  .section-about__figure {
    width: 355px;
    height: 355px;
    justify-self: center;
  }
}

/* 5.Skills */
.section-skills {
  padding-top: 50px;
  height: 700px;
  background-color: rgb(27, 23, 24);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.section-skills__container {
  display: grid;
  grid-template-columns: 300px 500px;
  grid-template-rows: 600px;
  grid-template-areas: "stat cont";
  align-items: center;
  justify-items: center;
}
.section-skills__skillbars {
  width: 500px;
  height: fit-content;
  grid-area: cont;
}
.section-skills__tbn {
  width: 250px;
  height: 250px;
  position: relative;
  grid-area: stat;
}
.section-skills__skillbar {
  right: 0;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  float: right;
}
.section-skills__skillbar-body {
  width: 300px;
  height: 15px;
  border: 1px solid antiquewhite;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.section-skills__skillbar-body div {
  position: absolute;
  height: 15px;
  border-radius: 10px;
}
.section-skills__skillbar-name {
  color: white;
  margin-right: 1rem;
}
.section-skills__flag-container {
  display: flex;
  float: right;
  margin-bottom: 30px;
}
.section-skills__flag {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  font-size: 1.8rem;
  height: 35px;
  justify-content: center;
  margin-right: 10px;
  padding: 5px 10px;
  position: relative;
  width: fit-content;
}

.section-skills__flag::before {
  content: "";
  height: 50px;
  width: 1px;
  background-color: white;
  left: 0;
  bottom: -30px;
  position: absolute;
}

.section-skills__tbn div {
  font-weight: 700;
  color: #403636;
  width: 170px;
  height: 130px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    81% 94%,
    50% 75%,
    0% 75%
  );
  background-color: white;
  position: absolute;
  padding: 15px;
  font-size: 1.5rem;
}

.section-skills__tbn::before {
  align-items: center;
  background-color: antiquewhite;
  border-radius: 50%;
  content: "Check Stats";
  cursor: pointer;
  display: flex;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.section-skills__tbn::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d9fada;
  animation: pulse 2500ms infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.75;
    transform: scale(0.95);
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

@media screen and (max-width: 765px) {
  .section-skills {
    padding-top: 200px;
    height: 1200px;
    display: flex;
    justify-content: center;
  }
  .section-skills__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: unset;
  }
}

@media screen and (max-width: 520px) {
  .section-skills {
    height: 1000px;
  }
  .section-skills__container {
    height: 800px;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-template-areas: unset;
  }
  .section-skills__tbn {
    padding-left: 60px;
    width: 200px;
    height: 200px;
  }
  .section-skills__skillbars {
    transform: scale(0.8);
    padding-right: 40px;
  }
  .section-skills__tbn div {
    font-size: 1.3rem;
  }
}

/* 6.Portfolio */
.section-portfolio {
  padding-top: 100px;
  background-color: rgb(27, 23, 24);
  height: 800px;
  overflow: hidden;
}
.section-portfolio__container {
  margin: auto;
  width: 850px;
  height: 700px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 200px auto;
  grid-template-areas:
    "head head"
    "pornlo gallery";
}

.section-portfolio__header {
  grid-area: head;
  width: 100%;
}
.section-portfolio__card.--Pornlo {
  grid-area: pornlo;
  position: relative;
  width: 400px;
  height: 265px;
}
.section-portfolio__card.--Gallery {
  grid-area: gallery;
  position: relative;
  width: 330px;
  height: 400px;
}

.section-portfolio__header h2 {
  font-weight: 400;
  color: white;
  font-size: 5rem;
  margin-bottom: 30px;
}
.section-portfolio__header p {
  color: white;
}

.card__img {
  max-height: 100%;
  max-width: 100%;
  transition: opacity ease-out 250ms;
  position: absolute;
}

.section-portfolio__card:hover .card__img {
  opacity: 0.3;
}

.section-portfolio__card {
  perspective: 1000px;
  cursor: pointer;
}

.section-portfolio__card::before,
.section-portfolio__card::after {
  top: 2.5rem;
  left: 2.5rem;
  bottom: 2.5rem;
  right: 2.5rem;
  content: "";
  position: absolute;
  transition: all 0.4s ease;
}

.section-portfolio__card::before {
  transform: scale(0, 1);
  border-top: 1px solid #ffe4e1;
  border-bottom: 1px solid #ffe4e1;
}
.section-portfolio__card::after {
  transform: scale(1, 0);
  border-left: 1px solid #ffe4e1;
  border-right: 1px solid #ffe4e1;
}
.section-portfolio__card:hover::before {
  transform: scale(1.05, 1);
}
.section-portfolio__card:hover::after {
  transform: scale(1, 1.05);
}

.section-portfolio__card:hover .card__text_front,
.section-portfolio__card:hover .card__text_back {
  opacity: 1;
}

.section-portfolio__card__content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  margin-bottom: 10px;
  font-size: 2rem;
}
.section-portfolio__card__content h3 {
  margin-bottom: 10px;
  color: #edd5d1;
}

.section-portfolio__container a,
.section-portfolio__container a:active {
  color: white;
}

.section-portfolio__container a:hover {
  color: #faf0e6;
}

.card__text_front {
  backface-visibility: hidden;
  color: white;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity ease-out 250ms;
}

.card__text_back {
  backface-visibility: hidden;
  bottom: 50%;
  color: white;
  opacity: 0;
  position: absolute;
  right: 48%;
  transform: rotateY(180deg) translate(-50%, 50%);
  transition: opacity ease-out 250ms;
}

.card__body label {
  font-size: 1.5rem;
  display: inline-block;
  margin: 2px;
  padding: 3px 5px;
  background-color: #faf0e6;
  color: #543f48;
  border-radius: 15px;
}

.card__text_front label {
  text-decoration: underline;
}
.card__text_front label::after {
  text-decoration: unset;
  font-family: "fontawesome";
  content: "\f061";
  margin-left: 3px;
  font-size: 1.6rem;
}

@media screen and (max-width: 765px) {
  .section-portfolio {
    height: 1150px;
  }
  .section-portfolio__container {
    width: 400px;
    height: 1100px;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 200px auto auto;
    grid-template-areas:
      "head"
      "pornlo"
      "gallery";
  }
  .section-portfolio__header {
    grid-area: head;
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .section-portfolio {
    height: 1000px;
  }
  .section-portfolio__container {
    height: 900px;
    width: 100%;
    justify-content: center;
  }
  .section-portfolio__header {
    transform: scale(0.8);
  }
  .section-portfolio__card.--Pornlo {
    transform: scale(0.8);
  }
  .section-portfolio__card.--Gallery {
    transform: scale(0.8);
  }
}

/* 7.Contact */

.section-contact {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 1000px;
  background-color: rgb(27, 23, 24);
  position: relative;
}
.section-contact__form-grid {
  border-radius: 30px;
  border: 1px solid rgb(229, 242, 225);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 50px 50px 200px 80px;
  grid-template-areas:
    "title title"
    "name email"
    "subject subject"
    "content content"
    ". btn";
  grid-gap: 50px 80px;
  height: 750px;
  margin: auto;
  padding: 30px 50px;
  width: 800px;
}

.section-contact__loader {
  align-items: center;
  background-color: rgba(96, 110, 93, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.section-contact__form-grid div input,
.section-contact__form-grid div textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: transparent;
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  font-size: 2rem;
  height: 100%;
  outline: 0;
  padding: 0 5px;
  position: relative;
  width: 100%;
}
.section-contact__form-textarea,
.section-contact__form-input {
  position: relative;
}

.section-contact__form-grid div textarea {
  box-sizing: border-box;
  padding: 20px 5px;
  resize: none;
}

.section-contact__form-textarea::after,
.section-contact__form-input::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: firebrick;
  transform: scaleX(0);
  transition: all 0.3s ease-out;
}

.section-contact__form-textarea:hover::after,
.section-contact__form-input:hover::after,
.section-contact__form-textarea:focus-within::after,
.section-contact__form-input:focus-within::after {
  transform: scaleX(1);
}

.section-contact__header {
  grid-area: title;
  display: flex;
  justify-content: center;
}
.section-contact__header h1 {
  color: white;
  font-size: 4rem;
  font-weight: 300;
}

.section-contact__form-grid .--name {
  grid-area: name;
}
.section-contact__form-grid .--email {
  grid-area: email;
}
.section-contact__form-grid .--subject {
  grid-area: subject;
}

.section-contact__form-grid .--content {
  grid-area: content;
}

.form-btn {
  color: white;
  grid-area: btn;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  width: 100px;
}

.form-btn::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 30px;
  background-color: firebrick;
  right: -30%;
  top: 50%;
  transition: all 0.2s;
}
.form-btn::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 30px;
  background-color: firebrick;
  right: -30%;
  top: 50%;
  transition: all 0.2s;
}
.form-btn:hover::before {
  transform: rotate(40deg);
}
.form-btn:hover::after {
  transform: rotate(-40deg);
}
.section-contact_form-error {
  font-size: 2rem;
  color: #ae1800;
  background-color: #fdd4cd;
  height: fit-content;
}
.section-contact_form-error p {
  padding: 10px;
  margin: 0;
}
.Toastify__toast-container {
  font-size: 2rem;
}
@media screen and (max-width: 900px) {
  .section-contact__form-grid {
    width: 90%;
    grid-gap: 40px 20px;
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 520px) {
  .section-contact {
    height: 900px;
  }
  .section-contact__form-grid {
    padding: 30px 30px;
    height: 700px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px 50px 50px 50px 200px 80px;
    grid-template-areas:
      "title title"
      "name name"
      "email email"
      "subject subject"
      "content content"
      ". btn";
    grid-gap: 15px;
  }
}

/* 8.Footer */
.section-footer {
  background-color: #b2dbd4;
  height: 100px;
  display: grid;
  grid-template-columns: 30px auto 30px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 20px;
  color: white;
  border-top: 1px solid white;
}
.section-footer a,
.section-footer a:active {
  color: white;
}

.section-footer a:hover {
  color: #faf0e6;
}
